/*General*/

html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

h1,
h2 {
  font-weight: bold;
  text-transform: uppercase;
}

.logo span,
.nav span,
h2,
.img span,
.logo-foot span {
  font-size: 1rem;
}

body,
header,
.logo,
.logo img,
nav,
.nav,
.main,
.main-heading,
.icons,
.icon,
.img,
.img img,
.icon span,
.headlines,
.headline,
footer,
.logo-foot,
.logo-foot img {
  display: flex;
}

header,
.icons,
.headlines,
footer {
  width: 960px;
}

body,
.main,
.icon,
.headline {
  flex-direction: column;
}

/*Header*/

header {
  background-color: cadetblue;
  padding: 1rem 2rem;
  margin-top: 1rem;
  margin-bottom: 10rem;
}

.logo,
header {
  align-items: center;
}

.logo {
  flex-grow: 1;
}

.logo img {
  margin-right: 1rem;
  height: 1.5rem;
}

.logo span,
.nav span a {
  color: white;
}

a {
  text-decoration: none;
}

.nav {
  justify-content: space-between;
}

.nav span {
  padding-left: 2rem;
}

/*Main Content*/

.main {
  height: 30rem;
  background-image: url("../imgs/glasses-bg.png");
  background-size: cover;
  background-position: center;
  align-items: center;
}

.main-heading {
  margin-right: -2rem;
  width: 960px;
  justify-content: flex-end;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
  padding: 1.5rem 5rem;
}

/*Info Section*/



/*Headline Section*/



/*Footer*/



/*Media Query*/
