/*General*/

html {
  font-size: 18px;
  line-height: 1.4rem;
  font-family: Helvetica;
}

h1,
h2 {
  font-weight: bold;
  text-transform: uppercase;
}

.logo span,
.nav span,
.menu span,
h2,
.img span,
.logo-foot span {
  font-size: 1rem;
}

body,
header,
.logo,
.logo img,
nav,
.nav,
.menu,
.main,
.main-heading,
.icons-container,
.icons,
.icon,
.icon span,
.headlines,
.headline-container,
.headline,
footer,
.logo-foot,
.logo-foot img {
  display: flex;
}

.headline-container,
.headlines,
.icons,
.icons-container {
  justify-content: center;
}

header,
.main-heading,
.headline-container,
footer {
  width: 960px;
}

body,
.main,
.icon,
.headline {
  flex-direction: column;
}

header,
h2 {
  background-color: cadetblue;
}

/*Header*/

header {
  box-sizing: border-box;
  padding: 1rem 2rem;
  margin-top: 1rem;
  margin-bottom: 10rem;
}

.logo,
header,
.logo-foot,
.icon,
.icons,
.main {
  align-items: center;
}

.logo {
  flex-grow: 1;
}

.logo img {
  margin-right: 1rem;
  height: 1.5rem;
}

.logo span,
.nav span a,
.menu span a {
  color: white;
}

a {
  text-decoration: none;
}

.nav {
  justify-content: space-between;
}

.nav span {
  padding-left: 2rem;
}

/*Main Content*/

.main {
  height: 30rem;
  background-image: url("../imgs/glasses-bg.png");
  background-size: cover;
  background-position: center;
}

.main-heading {
  margin-right: -2rem;
  justify-content: flex-end;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
  padding: 1.5rem 5rem;
}

/*Info Section*/

.icons-container {
  margin: 3rem 0;
}

.icon {
  height: 8rem;
  text-align: center;
  justify-content: space-between;
}

.img img {
  width: 3.5rem;
  display: block;
}

.right .img img,
.center .img img,
.icon {
  width: 5rem;
}

.icon.center {
  margin-left: 6rem;
}

.icon.right {
  margin-left: 6rem;
}

/*Headline Section*/

.headlines {
  margin-bottom: 5rem;
}

.headline {
  margin-right: 5%;
  width: 35%;
  display: inline-flex;
}

.headline h2 {
  width: 10rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  color: white;
}

/*Footer*/

footer {
  padding: 4rem 4rem;
  background-color: azure;
}

.logo-foot img {
  margin-right: 1rem;
  height: 1.5rem;
}

/*Media Query*/

@media only screen and (max-width: 1024px) {
  header {
    margin-top: 0;
    width: 100%;
    margin-bottom: 5rem;
  }

  .headline  h2 {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
    margin-right: 2rem;
  }

  .main {
    height: 22rem;
  }
}

@media only screen and (min-width: 830px) {
  .menu {
    display: none;
  }
}

@media only screen and (max-width: 830px) {
  .nav {
    display: none;
  }

  .main {
    height: 17rem;
    background-position: 20%;
  }

  header {
    margin-bottom: 9rem;
  }

  h1 {
    width: 100%;
    padding: 1rem 0;
    font-size: 1rem;
    justify-content: center;
    text-align: center;
    margin-right: 0;
  }

  .main-heading {
    width: 100%;
    margin-right: 0;
  }

  .icon span,
  p {
    font-size: 0.77rem;
  }

  .icons-container {
    margin: 3.77rem 0;
  }

  .icons {
    flex-direction: column;
  }

  .icon.center,
  .icon.right {
    margin-left: 0rem;
    margin-top: 1.54rem;
  }

  .headline-container {
    flex-direction: column;
  }

  .headline {
    margin-right: 0;
    width: 100%;
    margin-bottom: 4rem;
  }

  .headline h2 {
    width: 100%;
    margin-right: 0rem;
    padding: 0.75rem 0rem;
    text-align: center;
  }

  footer {
    width: 100%;
    padding: 4rem 0rem;
    justify-content: center;
  }

  .logo-foot img {
    margin-right: 0;
  }

  .logo-foot span {
    display: none;
  }
}
